---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <h4>매일매일 푸시</h4>
                <p>푸시메시지로 메뉴가 배달됩니다. 원하지 않는 분은 끄실 수 있어요!</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>좋아요/싫어요 기능 제공</h4>
                <p>설탕으로 넘치는 꼬치우동을 만나지 않을 수 있을지도..</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>우리가 직접 만드는</h4>
                <p>오픈소스 프로젝트로 진행됩니다. 어쩌구저쩌구</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>		 				
        </div>
    </div><!--/container -->
</div><!--/service -->

{% include portfolio.html title="LATEST WORKS" limit=10 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>밥플래닛 팀에 참여하기</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div><!--/row -->
</div><!--/container -->