<footer class="page-footer orange">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">밥플래닛 팀 참여하</h5>
				<p class="grey-text text-lighten-4">
					Google Universal Analytics를 공부하기 위해서 모인 스터디 그룹입니다. 웹-앱이 통합된 데이터 수집/조정/프로세싱 그리고 최종 리포트를 만들어 내는 것을 목표로 합니다.
				</p>

			</div>
			<div id="video_list" class="col l3 s12">
				<h5 class="white-text">깃허브 링크</h5>
				<p class="grey-text text-lighten-4">
					일단은 깃헙 링크나 넣을까 생각중 
				</p>

			</div>
			<div class="col l3 s12">
				<h5 class="white-text">약관/사용정보</h5>
				<ul id="test">
					<li>
						<a class="white-text" href="/privacy.html">개인정보취급방침</a>
					</li>
					<li>
						<a class="white-text" href="/opensource.html">오픈소스라이선스</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
		</div>
	</div>
</footer>
