<footer class="page-footer orange">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">PlaLab 참여하기!</h5>
				<p class="grey-text text-lighten-4">
					밥플래닛은 SK플래닛의 스터디 지원프로그램인 PlaLab의 지원을 받아 만들어졌습니다. 
					'밥플래닛'의 다영한 프로젝트가 여러분의 참여를 기다립니다!!
				</p>
		        <a href="https://github.com/bobplanet" target="_blank" class="waves-effect waves-light btn"><i class="fa fa-github right "></i>깃허브 참여하기</a>


			</div>
			<div id="video_list" class="col l3 s12">
				<h5 class="white-text">밥플래닛 다운로드</h5>
				<a href="https://play.google.com/store/apps/details?id=kr.bobplanet.android&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1"><img class="responsive-img" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png" /></a>

			</div>
			<div class="col l3 s12">
				<h5 class="white-text">약관/사용정보</h5>
				<ul id="test">
					<li>
						<a class="white-text" href="/privacy.html">개인정보취급방침</a>
					</li>
					<li>
						<a class="white-text" href="/opensource.html">오픈소스라이선스</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
		</div>
	</div>
</footer>
