<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>밥플래닛-{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

		<meta property="og:url"           	content="http://bobplanet.kr/" />
		<meta property="og:title"         	content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
		<meta property="og:type"          	content="website" />
		<meta property="og:image" 			content="http://bobplanet.kr/assets/images/step4_facebook.png" />
		<meta property="og:description"   	content="플라랩 멤버들이 만든 이상한 앱! BOBplanet이 매일 The Planet 식당메뉴를 알려드립니다. 매일 점심/저녁 메뉴를 미리 푸쉬받아보세요." />
	    <meta name="keywords" 				content="식단, 플라랩, P밥, 피크닉, 밥, SK플래">


	<!-- Favicons-->
	<link rel="shortcut icon" href=" /assets/images/favicon/bob_v1_color_ns.png" type="image/png" />
	<link rel="apple-touch-icon-precomposed" href=" /assets/images/favicon/bob_v1_color_ns.png"  type="image/png" />
	<link rel="icon" href=" /assets/images/favicon/bob_v1_color_ns_32.png" sizes="32x32">


	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href=" /assets/css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" href=" /assets/css/style.css">

 
 <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='110719536-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

</head>
