<header class="site-header">
	<div class="navbar">
		<nav class="deep-orange" role="navigation">
			<div class="container">
				<div class="nav-wrapper">
					<div id="logo-container">
						<a href="#"><img width="40" class="icon hide-on-med-and-down" src="assets/images/favicon/main-icon-192.png"></a>
						<a  href="index.html" class="brand-logo"> 밥 planet</a>
						<ul class="right hide-on-med-and-down category" >
							<li>
								<a href="#" class="trend">제품소개</a>
							</li>
							<li>
								<a href="#" class="pet">팀소개</a>
							</li>
							<li>
								<a href="#" class="music">블로그</a>
							</li>
						</ul>
					</div>
					<!-- 모바일 버전 -->
					<ul id="nav-mobile" class="side-nav category">
							<li>
								<a href="#" class="trend">제품소개</a>
							</li>
							<li>
								<a href="#" class="pet">팀소개</a>
							</li>
							<li>
								<a href="#" class="music">블로그</a>
							</li>
					</ul>
					<a href="/index.html" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
				</div>
			</div>
		</nav>
	</div>
</header>
