
<nav class="deep-orange" role="navigation">
	<div class="container">
		<div class="nav-wrapper">
			<div id="logo-container">
				<a href="#"><img width="40" class="icon hide-on-med-and-down" src="{{site.url}}/assets/images/origin.png"></a>
				<a  href="index.html" class="brand-logo"> 밥 planet</a>
				<ul class="right hide-on-med-and-down category" >
					<li>
						<a href="#" class="trend"><strong>제품소개</strong></a>
					</li>
					<li>
						<a href="#" class="pet"><strong>팀소개</strong></a>
					</li>
					<li>
						<a href="#" class="music"><strong>블로그</strong></a>
					</li>
				</ul>
			</div>
			<!-- 모바일 버전 -->
			<ul id="nav-mobile" class="side-nav category">
					<li>
						<a href="#" class="trend"><strong>제품소개</strong></a>
					</li>
					<li>
						<a href="#" class="pet"><strong>팀소개</strong></a>
					</li>
					<li>
						<a href="#" class="music"><strong>블로그</strong></a>
					</li>
			</ul>
			<a href="/index.html" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</div>
</nav>
