
<nav class="deep-orange" role="navigation">
	<div class="container">
		<div class="nav-wrapper">
			<div id="logo-container">
				<a href="#"><img width="40" class="icon hide-on-med-and-down" src="/assets/images/origin.png"></a>
				<a href="/" class="brand-logo">BOBplanet</a>
				<ul class="right hide-on-med-and-down category" >
					<li>
						<a href="/blog/2015/11/12/team-introduction.html" class="trend"><strong>밥플래닛이란</strong></a>
					</li>
					<li>
						<a href="/blog/2015/10/26/밥플래닛소개.html" class="pet"><strong>만든사람들</strong></a>
					</li>
					<li>
						<a href="/blog_main.html" class="music"><strong>블로그</strong></a>
					</li>
				</ul>
			</div>
			<!-- 모바일 버전 -->
			<ul id="nav-mobile" class="side-nav category">
				<li>
					<a href="#" class="trend"><strong>밥플래닛이란</strong></a>
				</li>
				<li>
					<a href="#" class="pet"><strong>만든사람들</strong></a>
				</li>
				<li>
					<a href="/blog_main.html" class="music"><strong>블로그</strong></a>
				</li>
				<li>
					<a href="/privacy.html"><strong>개인정보취급방침</strong></a>
				</li>
				<li>
					<a href="/opensource.html"><strong>오픈소스라이선스</strong></a>
				</li>
			</ul>
			<a href="/" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</div>
</nav>
