<div>
	<!-- jQuery is required by Materialize to function -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.1/isotope.pkgd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.3/jquery.timeago.js"></script>

    <script type="text/javascript" src="assets/js/cloudendpoint.js"></script>
    <script type="text/javascript" src="assets/js/handlebars-v4.0.4.js"></script>
    <script type="text/javascript" src="assets/js/materialize.min.js"></script>
	
	 
	 <!-- custom JS code -->
    <script type="text/javascript" src="assets/js/init.js"></script>

    <!-- Google AppEngine API 초기화 -->
    
    <script src="https://apis.google.com/js/client.js?onload=init"></script>


</div>