<div>
	<!-- jQuery is required by Materialize to function -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ 'assets/js/materialize.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/handlebars-v4.0.4.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/cloudendpoint.js' | prepend: site.baseurl }}"></script>

	 
	 <!-- custom JS code -->
    <script type="text/javascript" src="assets/js/init.js"></script>

    <!-- Google AppEngine API 초기화 -->
    <script src="https://apis.google.com/js/client.js?onload=init"></script>


</div>