<!-- jQuery is required by Materialize to function -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.1/isotope.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.3/jquery.timeago.js"></script>

<script type="text/javascript" src="/assets/js/cloudendpoint.js"></script>
<script type="text/javascript" src="/assets/js/handlebars-v4.0.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script id="dsq-count-scr" src="//bobplanet.disqus.com/count.js" async></script>


<!-- App에서 넘어온 트래픽 추적을 위해 parameter와 cookie를 사용 -->
<script type="text/javascript" src="/assets/js/url.min.js"></script>
<script type="text/javascript" src="/assets/js/js.cookie.js"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

<script type="text/javascript">
if (url('?{{ site.analytics_param }}')) {
  Cookies.set('{{ site.analyrics_param }}', url('?{{ site.analytics_param }}'));
}
var bobp_userId = Cookies.get('{{ site.analytics_param }}');
</script>

<!-- custom JS code -->
<script type="text/javascript" src=" /assets/js/init.js"></script>

<!-- Google AppEngine API 초기화 -->
<script src="https://apis.google.com/js/client.js?onload=init"></script>
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.ga_trackid_web }}', 'auto');
  if (bobp_userId) ga('set', '&uid', bobp_userId);

  ga('send', 'pageview');

  // Rollup으로 페이지뷰 보내기
  ga('create', '{{ site.ga_trackid_rollup }}', {'name':'app'});
  ga('app.send', 'pageview');

</script>

<!-- start Mixpanel -->
<script type="text/javascript">
(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init('{{ site.mixpanel_trackid }}');
if (bobp_userId) mixpanel.identity(bobp_userId);
</script>
<!-- end Mixpanel -->