---
layout: default
body_class: post-template
---
<style type="text/css">
.parallax-container {
  min-height: 100px;
  max-height: 250px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
</style>

{% if page.image %}
<!--대표 이미지가 있는 경우에는 이미지 헤더를 설정 -->

<div id="blog-banner">
	<div class="parallax-container">
	  <div class="section no-pad-bot">
	    <div class="container">
	      <div id="featured_image" class="row">
	      <header>
			  <h6 ><a class="deep-orange-text" href="{{ site.baseurl }}/" id="home_link"><i class="material-icons">home</i> </a>
			      <time datetime="{{ page.date | date:'%Y-%m-%d' }}"><a class="deep-orange-text" href="{{ page.url }}"> {{ page.date | date: "%B %d, %Y" }}</a></time>
			        <span class="count" id="js-reading-time">&nbsp;</span>
		        </h6>
	        <h4 class="deep-orange-text">{{ page.title }}</h4>
	        </header>
	      </div>
	    </div>
	  </div>
	  <div class="parallax"><img src="/content/images/{{ page.image }}" alt="Unsplashed background"></div>
	</div>
</div>
{% else %}
<!-- 이미지가 없는 경우에는 그냥 헤더를 설정 -->
<div class="container">

	<article role="header" class="{% if page.image %}image{% endif %}">
		<header>	
			<p class="valign-wrapper"><a href="{{ site.baseurl }}/" id="home_link"><i class="material-icons">home</i> </a>
				<time datetime="{{ page.date | date:'%Y-%m-%d' }}"><a href="{{ page.url }}"> {{ page.date | date: "%B %d, %Y" }}</a></time>
				<span class="count" id="js-reading-time">&nbsp;</span>
			</p>

		    <h1 class="header light">{{ page.title }}</h1>
		</header>

    </article>
</div>
{% endif %}

<div class="container">
	<article role="main" class="{% if page.image %}image{% endif %}">
	    <div class="text" id="js-post-content">
	        {{ content }}
	    </div>

    </article>
    <div id="disqus_thread"></div>


	<ul id="related" class="collection with-header posts">
		<li class="collection-header"><h4>Related Posts</h4></li>
	    {% for post in site.related_posts limit:3 %}
		<li class="collection-item">
			<span>{{ post.date | date_to_string }} &raquo;</span> <a href="{{ post.url }}">{{ post.title }}</a>
		</li>
	    {% endfor %}
	</ul>

	<script>
	/**
	* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
	*/

	var disqus_config = function () {
	this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};

	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');

	s.src = '//bobplanet.disqus.com/embed.js';

	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


</div> <!-- container 종료 -->

